In [4]:
def get_country(address):
    import requests
    api_key="Fill_Here_Your_Api"
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address, api_key)
    try:
        response = requests.get(url)
        if not response.status_code == 200:
            print("HTTP Error", response.status_code)
        else:
            try:
                response_data=response.json()
                return(response_data)
            except:
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")

In [5]:
import pandas as pd
try:
    df=pd.read_csv("C:/Users/yitzhak vider/DS Introduction Course/files/destinations_LP_crawler_Ex5.csv",encoding='latin-1')
except: 
    print("file not found")
#df.set_index('city',inplace=True)
print(df)

         city                           city_LP
0     Antalya       mediterranean-coast/antalya
1      Athens                            Athens
2   Ayia-napa  the-republic-of-cyprus/Agia-napa
3     Bangkok                           Bangkok
4   Barcelona                         Barcelona
..        ...                               ...
71     Venice                            Venice
72     Vienna                            Vienna
73     Warsaw                            Warsaw
74  Zakynthos                         Zakynthos
75     Zurich                            Zurich

[76 rows x 2 columns]

In [6]:
countries=[]
for row in df.itertuples(index=True, name='df'):
    print(row)
    getCountry=get_country(row.city)
    if getCountry['status']=='ZERO_RESULTS':
        countries.append("Null")     
        continue
   # try:
    countries.append(getCountry['results'][0]['formatted_address'].split(',')[-1].strip().replace(" ", ""))
    print(getCountry['results'][0]['formatted_address'].split(',')[-1].strip().replace(" ", ""))
#    except:
#        countries.append(getCountry['results'][0]['address_components'][1]['long_name'].split(',')[0].strip().replace(" ", ""))
#        print((getCountry['results'][0]['address_components'][1]['long_name'].split(',')[0].strip().replace(" ", "")))

df(Index=0, city='Antalya', city_LP='mediterranean-coast/antalya')
Turkey
df(Index=1, city='Athens', city_LP='Athens')
Greece
df(Index=2, city='Ayia-napa', city_LP='the-republic-of-cyprus/Agia-napa')
Cyprus
df(Index=3, city='Bangkok', city_LP='Bangkok')
Thailand
df(Index=4, city='Barcelona', city_LP='Barcelona')
Spain
df(Index=5, city='Basel', city_LP='northern-switzerland/basel')
Switzerland
df(Index=6, city='Batumi', city_LP='adjara/batumi')
Georgia
df(Index=7, city='Beijing', city_LP='Beijing')
China
df(Index=8, city='Berlin', city_LP='Berlin')
Germany
df(Index=9, city='Boston', city_LP='Boston')
USA
df(Index=10, city='Bratislava', city_LP='Bratislava')
Slovakia
df(Index=11, city='Brussels', city_LP='Brussels')
Belgium
df(Index=12, city='Bucharest', city_LP='Bucharest')
Romania
df(Index=13, city='Budapest', city_LP='Budapest')
Hungary
df(Index=14, city='Burgas', city_LP='black-sea-coast/burgas')
Bulgaria
df(Index=15, city='Cancun', city_LP='Cancun')
Mexico
df(Index=16, city='Catania', city_LP='sicily/catania')
Italy
df(Index=17, city='Chiang-mai', city_LP='chiang-mai-province/Chiang-mai')
Thailand
df(Index=18, city='Cologne', city_LP='north-rhine-westphalia/cologne')
Germany
df(Index=19, city='Corfu', city_LP='ionian-islands/corfu')
Greece
df(Index=20, city='Costa-Brava', city_LP='Costa-Brava')
Spain
df(Index=21, city='Crete', city_LP='Crete')
Greece
df(Index=22, city='Krakï¿', city_LP='malopolska/krakow')
df(Index=23, city='Delhi', city_LP='Delhi')
India
df(Index=24, city='Dresden', city_LP='saxony/dresden')
Germany
df(Index=25, city='Dublin', city_LP='Dublin')
Ireland
df(Index=26, city='Dubrovnik', city_LP='Dubrovnik')
Croatia
df(Index=27, city='Dusseldorf', city_LP='north-rhine-westphalia/Dusseldorf')
Germany
df(Index=28, city='Florence', city_LP='Florence')
Italy
df(Index=29, city='Frankfurt', city_LP='frankfurt-southern-rhineland')
Germany
df(Index=30, city='Geneva', city_LP='Geneva')
Switzerland
df(Index=31, city='Guangzhou', city_LP='guangdong/guangzhou')
China
df(Index=32, city='Hamburg', city_LP='Hamburg')
Germany
df(Index=33, city='Innsbruck', city_LP='tirol/innsbruck')
Austria
df(Index=34, city='Istanbul', city_LP='Istanbul')
Turkey
df(Index=35, city='Kos', city_LP='dodecanese/kos')
Greece
df(Index=36, city='Ko-samui', city_LP='Ko-samui')
Thailand
df(Index=37, city='Kyiv ukrain', city_LP='Kyiv')
02000
df(Index=38, city='LarnaKa', city_LP='the-republic-of-cyprus/larnaka')
Cyprus
df(Index=39, city='Las-Vegas', city_LP='Las-Vegas')
USA
df(Index=40, city='Limassol', city_LP='the-republic-of-cyprus/lemesos-limasol')
Cyprus
df(Index=41, city='Lisbon', city_LP='Lisbon')
Portugal
df(Index=42, city='Ljubljana', city_LP='Ljubljana')
Slovenia
df(Index=43, city='Los Angeles', city_LP='Los-Angeles')
USA
df(Index=44, city='Madrid', city_LP='Madrid')
Spain
df(Index=45, city='Manila', city_LP='Manila')
Philippines
df(Index=46, city='Marseille', city_LP='provence/Marseille')
France
df(Index=47, city='Mexico-City', city_LP='Mexico-City')
Mexico
df(Index=48, city='Miami', city_LP='Miami')
USA
df(Index=49, city='Milan', city_LP='Milan')
Italy
df(Index=50, city='Moscow', city_LP='Moscow')
Russia
df(Index=51, city='mumbai-bombay', city_LP='mumbai-bombay')
India
df(Index=52, city='Munich', city_LP='Munich')
Germany
df(Index=53, city='Mykonos', city_LP='cyclades/mykonos')
Greece
df(Index=54, city='Naples Italy', city_LP='campania/naples')
Italy
df(Index=55, city='Nice', city_LP='Nice')
France
df(Index=56, city='Odesa', city_LP='Odesa')
65000
df(Index=57, city='Paris', city_LP='Paris')
France
df(Index=58, city='Phuket', city_LP='phuket-province')
Thailand
df(Index=59, city='Rhodes', city_LP='dodecanese/rhodes')
Greece
df(Index=60, city='Rome', city_LP='Rome')
Italy
df(Index=61, city='Salzburg', city_LP='Salzburg')
Austria
df(Index=62, city='San-Francisco', city_LP='San-Francisco')
USA
df(Index=63, city='Shanghai', city_LP='Shanghai')
China
df(Index=64, city='Sofia', city_LP='Sofia')
Bulgaria
df(Index=65, city='St-Petersburg Russia', city_LP='St-Petersburg')
Russia
df(Index=66, city='Stuttgart', city_LP='baden-wurttemberg/stuttgart')
Germany
df(Index=67, city='Taipei', city_LP='Taipei')
Taiwan
df(Index=68, city='Tbilisi', city_LP='Tbilisi')
Georgia
df(Index=69, city='Thessaloniki', city_LP='northern-greece/Thessaloniki')
Greece
df(Index=70, city='Toronto', city_LP='Toronto')
Canada
df(Index=71, city='Venice', city_LP='Venice')
Italy
df(Index=72, city='Vienna', city_LP='Vienna')
Austria
df(Index=73, city='Warsaw', city_LP='Warsaw')
Poland
df(Index=74, city='Zakynthos', city_LP='Zakynthos')
Greece
df(Index=75, city='Zurich', city_LP='Zurich')
Switzerland

In [7]:
print (countries)

['Turkey', 'Greece', 'Cyprus', 'Thailand', 'Spain', 'Switzerland', 'Georgia', 'China', 'Germany', 'USA', 'Slovakia', 'Belgium', 'Romania', 'Hungary', 'Bulgaria', 'Mexico', 'Italy', 'Thailand', 'Germany', 'Greece', 'Spain', 'Greece', 'Null', 'India', 'Germany', 'Ireland', 'Croatia', 'Germany', 'Italy', 'Germany', 'Switzerland', 'China', 'Germany', 'Austria', 'Turkey', 'Greece', 'Thailand', '02000', 'Cyprus', 'USA', 'Cyprus', 'Portugal', 'Slovenia', 'USA', 'Spain', 'Philippines', 'France', 'Mexico', 'USA', 'Italy', 'Russia', 'India', 'Germany', 'Greece', 'Italy', 'France', '65000', 'France', 'Thailand', 'Greece', 'Italy', 'Austria', 'USA', 'China', 'Bulgaria', 'Russia', 'Germany', 'Taiwan', 'Georgia', 'Greece', 'Canada', 'Italy', 'Austria', 'Poland', 'Greece', 'Switzerland']

In [8]:
df.insert(2, 'countries', countries)

In [9]:
df.insert(3, 'description',"Null")
print(df)

         city                           city_LP    countries description
0     Antalya       mediterranean-coast/antalya       Turkey        Null
1      Athens                            Athens       Greece        Null
2   Ayia-napa  the-republic-of-cyprus/Agia-napa       Cyprus        Null
3     Bangkok                           Bangkok     Thailand        Null
4   Barcelona                         Barcelona        Spain        Null
..        ...                               ...          ...         ...
71     Venice                            Venice        Italy        Null
72     Vienna                            Vienna      Austria        Null
73     Warsaw                            Warsaw       Poland        Null
74  Zakynthos                         Zakynthos       Greece        Null
75     Zurich                            Zurich  Switzerland        Null

[76 rows x 4 columns]

In [10]:
def get_Description(city_disc_link):
    disc_dict = dict()
    import requests
    from bs4 import BeautifulSoup
    try:
        response = requests.get(city_disc_link)
        if not response.status_code == 200:
            return city_disc_link
        result_page = BeautifulSoup(response.content,'html.parser')
        for i in result_page.find_all("div", class_= "readMore_content___5EuR relative overflow-hidden max-h-96 is-max wysiwyg"):
            my_discription=i.get_text()   
        return my_discription
    except:
        return print("Oh i'm so sorry it did't work")

In [11]:
city_disc_link="https://www.lonelyplanet.com"
for index, row in df.iterrows():
    city_disc_link="https://www.lonelyplanet.com"
    city_disc_link+="/"+row["countries"]+"/"+row["city_LP"]
    row["description"]=get_Description(city_disc_link)

In [12]:
print(df)

         city                           city_LP    countries  \
0     Antalya       mediterranean-coast/antalya       Turkey
1      Athens                            Athens       Greece
2   Ayia-napa  the-republic-of-cyprus/Agia-napa       Cyprus
3     Bangkok                           Bangkok     Thailand
4   Barcelona                         Barcelona        Spain
..        ...                               ...          ...
71     Venice                            Venice        Italy
72     Vienna                            Vienna      Austria
73     Warsaw                            Warsaw       Poland
74  Zakynthos                         Zakynthos       Greece
75     Zurich                            Zurich  Switzerland

                                          description
0   Once seen simply as the gateway to the Turkish...
1   With equal measures of grunge and grace, Athen...
2   Endless blue-sky days and a coastline riddled ...
3   Same same, but different. This Thailish T-shir...
4   Barcelona is an enchanting seaside city with b...
..                                                ...
71  Imagine the audacity of building a city of mar...
72  Baroque streetscapes and imperial palaces set ...
73  A phoenix arisen from the ashes, Poland's capi...
74  Zakynthos, also known by its Italian name Zant...
75  Culturally vibrant, efficiently run and attrac...

[76 rows x 4 columns]

In [13]:
data = {'city':  df['city'],'country': df['countries'], 'description':  df['description']}
dfNew = pd.DataFrame(data)

In [14]:
print(dfNew)
dfNew.to_csv("C:/Users/yitzhak vider/DS Introduction Course/LP_destinations.csv")

         city      country                                        description
0     Antalya       Turkey  Once seen simply as the gateway to the Turkish...
1      Athens       Greece  With equal measures of grunge and grace, Athen...
2   Ayia-napa       Cyprus  Endless blue-sky days and a coastline riddled ...
3     Bangkok     Thailand  Same same, but different. This Thailish T-shir...
4   Barcelona        Spain  Barcelona is an enchanting seaside city with b...
..        ...          ...                                                ...
71     Venice        Italy  Imagine the audacity of building a city of mar...
72     Vienna      Austria  Baroque streetscapes and imperial palaces set ...
73     Warsaw       Poland  A phoenix arisen from the ashes, Poland's capi...
74  Zakynthos       Greece  Zakynthos, also known by its Italian name Zant...
75     Zurich  Switzerland  Culturally vibrant, efficiently run and attrac...

[76 rows x 3 columns]